* {
    padding: 10px;
    margin: 10px;
    font-family: "Poppins";
}

main {
    margin: 0 auto;
    background-color: aliceblue;
    width: fit-content;
    box-shadow: 1px 1px 5px rgba(204, 204, 204, 0.731),
    -1px -1px 5px rgba(204, 204, 204, 0.183);
}

h1 {
    text-align: center;
    width: 100%;
}